
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-bold-kit/Helvetica.woff2') format('woff2'),
        url('../fonts/Helvetica-bold-kit/Helvetica.woff') format('woff'),
        url('../fonts/Helvetica-bold-kit/Helvetica.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'AcuminPro';
    src: url('../fonts/acumin-pro/AcuminPro-Regular.woff2') format('woff2'),
        url('../fonts/acumin-pro/AcuminPro-Regular.woff') format('woff'),
        url('../fonts/acumin-pro/AcuminPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



