/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.parent-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.helvetica-font , .divider{
    color: #202124;
    font: bold normal normal 11px/20px Helvetica, serif;
}

.acumin-pro-font{
    color: #A6ADB4;
    font: bold normal normal 11px/20px AcuminPro, serif;
}

.drop{
    margin-left: 19px;
    margin-right: 19px;
}

.bold{
    margin-left: 30px;
}

.parent-box > button{
    margin-left: auto;
    margin-bottom: 30px;
    width: 40px;
    height: 40px;
    border: 2px solid;
    border-color: #EBEDED;
    border-radius: 6px;
    background: none;
}

.parent-box > button:hover{
    background-color: #EBEDED;
}

.parent-box a:nth-child(1) > img{
    width: 16px;
    height: 16px;
}

.first-child-section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #FFFFFF;
    border-radius: 0px 6px 6px 0px;
}

.text-image-box{
    position: relative;
    text-align: center;
}

.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 360px;
}

.text-box > h1{
    color: #FFFFFF;
    font: bold normal normal 32px/42px Helvetica, serif;
}

.text-box > h4{
    font: bold normal normal 16px/26px Helvetica, serif;
    color: #FFFFFF;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.text-box > .drop{
    margin: 20px 0px 20px 0px;
}

.short-divider{
    width: 40px;
    height: 0px;
    border: 2px solid var(--unnamed-color-fa6980);
    background: transparent url('/images/divider.svg') 0% 0% no-repeat padding-box;
    border: 2px solid #FA6980;
    opacity: 1;
}

.avatar{
    border: 2px solid #FFFFFF;
    border-radius: 50px;
}

.label{
    font: bold normal normal 13px/20px AcuminPro, serif;
    display: block;
}

.border-customized{
    width: 360px;
    height: 40px;
    border: 2px solid #EBEDED;
    border-radius: 6px;
    opacity: 1;
    color: #A6ADB4;
    padding-left:20px;
    padding-right: 20px;
    margin: 10px 0px 40px 0px;
}

.search-button{
    width: 134px;
    height: 40px;
    border-radius: 6px;
    opacity: 1;
    background-color: #FA6980;
    border:none;
    font: bold normal normal 11px/26px Helvetica, serif;
    color: #FFFFFF;
}

.date-input-box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 127px;
}

.second-child-section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.second-child-section > div{
    display: inline;
    max-width: 360px;
}

hr{
    margin-top: 40px;
    margin-bottom: 41px;
    max-width: 1160px;
    width: 100%;
    left: 140px;
    background: transparent url('/images/divider.png') 0% 0% no-repeat padding-box;
    border: 2px solid #EBEDED;
    opacity: 1;
}

.second-child-section :first-child > h4{
    margin-top: 20px;
    color: #202124;
    font: bold normal normal 24px/34px AcuminPro, serif;
}

.second-child-section :first-child > img{
    width: 40px;
    height: 40px;
}

.child-block > p{
    font: normal normal normal 14px/26px Helvetica, serif;
    color: #A6ADB4;
    margin-bottom: 20px;
}

.time-container > span , .time-container > span > a{
    font: oblique normal normal 13px Helvetica, serif;
    color: #A6ADB4;
}
    
.third-child-section > p{
    width: 760px;
    opacity: 1;
    font: normal normal normal 14px/26px Helvetica, serif;
    color: #A6ADB4;
    margin:40px 0px 40px 0px;
}

.third-child-section p:nth-child(2){
    margin-top: 26px;
}

footer{
    margin-top: 161px;
}